.menu {
  width: 1920px;
  height: 100px;
  background-color: #1d365d;
}
.menu .logo {
  width: 171px;
  height: 78px;
  margin-left: 375px;
  padding-top: 18px;
}
.menu .button {
  display: inline;
  position: relative;
  bottom: 28px;
  margin-left: 626px;
  background-color: #417097;
  border: none;
  color: white;
  border-radius: 7px;
  padding: 10px 40px;
  font-family: 'PTSans Narrow';
  font-size: 52px;
  line-height: 31px;
}
.menu .less {
  margin-left: 36px;
  margin-bottom: 10px;
}
.header {
  width: 100%;
  height: 700px;
  background: url(../../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
